{% extends 'base.html' %}

{% block title %}
    {{ category.title }} | {{ block.super }}
{% endblock %}


{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}



{% block content %}
    {% for item in news_example %}
        <div class="card mb-3">
            <div class="card-header">Категория: {{ item.category.title }}</div>
            <div class="card-body">
                <div class="media">
                    {% if item.photo %}
                        <img src="{{ item.photo.url }}" class="float-start imgshadow me-4 my-1"
                             style="width: 40%; min-width: 250px ">
                    {% else %}
                        <img src="https://cpad.ask.fm/6fd/37c0d/3eec/4239/8135/1a4144d8e29b/large/218311.jpg"
                             class="float-start imgshadow me-4 my-1" style="width: 40%; min-width: 250px ">
                    {% endif %}
                    <div class="media-body">
                        <h5 class="card-title">{{ item.title }}</h5>
                        <p class="card-text">{{ item.content|truncatewords:45 }}</p>
                        <a href="{{ item.get_absolute_url }}" class="btn btn-primary">Read more...</a>
                    </div>
                </div>

            </div>
            <div class="card-footer text-body-secondary">{{ item.created_at|date:"Y-m-d H:m"  }}</div>
        </div>
    {% endfor %}
{% endblock %}








